@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

.container {
  padding: 3rem 0;
}
body {
  font-size: 10px;
  background-image: linear-gradient(to right bottom, #11998e, #004e92);
  background-attachment: fixed;
}

p,
li {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
}

.ptb-10 {
  padding: 10vh 0;
}
.h-86vh {
  height: 86vh;
}
.app-sidebar,
.app-main-content {
  border-radius: 20px;
  padding: 25px 10px;
  box-shadow: 0px 0px 15px black;
}

a {
  text-decoration: none;
}
ul > li {
  list-style-type: none;
}

.sidebarContent .sidebarDetails p {
  text-align: center;
}

.sidebarContent .sidebarDetails h1.profileName {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

.sidebarContent .sidebarDetails p img {
  height: auto;
  width: 70%;
}

.sidebarContacts .sidebarSocialIcons {
  padding: 0;
  text-align: center;
}

.sidebarContacts .sidebarSocialIcons li {
  margin: 10px;
}

.sidebarContacts .sidebarSocialIcons img {
  height: 25px;
  width: 25px;
}

.sidebarSocialIcons.profileSkills img {
  height: 30px;
  width: 30px;
}

.sidebarContacts p a.profileResume {
  background-image: linear-gradient(to right bottom, #11998e, #004e92);
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 30px;
}

.sidebarContacts p a.profileResume:hover {
  text-decoration: none;
  cursor: pointer;
}

.sidebarContacts h2.sidebarProfileSkills {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbarWrapper .navbarItems {
  display: flex;
}

.navbarWrapper .navbarActive {
  font-size: 2rem;
  font-weight: bold;
  color: #354358;
  border-bottom: 4px solid #004e92;
}

.navbarWrapper .navbarItems .navbarItem {
  font-size: 1.3rem;
  margin-right: 20px;
  text-decoration: none;
  color: #354358;
  cursor: pointer;
}

.navbarWrapper .navbarItems .navbarItem:hover {
  background-image: -webkit-linear-gradient(#11998e, #004e92);
  background-clip: text;
  -webkit-background-clip: text;
}

.contentWrapper {
  padding: 0.5rem 1rem;
}

.contentWrapper ul > li {
  list-style-type: disc;
}

.contentWrapper h2 {
  color: #354358;
}

.custom-switch {
  padding-left: 0 !important;
}

.skill-card .skillcardIcon {
  height: auto;
  width: 25%;
  float: left;
}

.skill-card .skillcardBody {
  display: table-cell;
  font-size: 0.8rem;
}

.skill-card {
  background: #f3f3f3;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 15px;
  min-height: 170px;
}

/*...............Media Queries..................*/

@media (max-width: 768px) {
  .app-main-content {
    margin-top: 45px;
  }
  .skill-card {
    min-height: auto;
  }
  .skill-card .skillcardIcon {
    width: 15%;
  }
}
